.drawingField-container{

    display: flex;
   flex-direction: column;
}

.row{
    display: inline-block;
   
   /*justify-content: space-between;*/
}

.drawingField-container span{
    width: 15px;
  /*  height: 20px;*/
    font-size: 18px;
}