.drawingField-container{
    display: flex;
    flex-direction: column;
}

.row{
    display: inline-block;
}

.drawingField-container span{
    width: 15px;
  /*  height: 20px;*/
    font-size: 18px;
}